<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <!-- CSS -->
  <link href="assets/css/style.css" rel="stylesheet" />


  <title>
    Nasi Goreng Sedap Malam Jembatan
  </title>
</head>

<body id="home" style="background-image: url('assets/img/background.png');">
  <nav class="navbar navbar-expand-lg navbar-dark shadow-sm fixed-top" style="background-color: #E53A30; height: 78px;">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img th:src="@{assets/img/SMJ.png}" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#galeri">Galeri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tentang">Tentang</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#kontak">Kontak</a>
          </li>
        </ul>
        </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="home">
    <div class="container"> 
      <div class="row">
        <div class="col-md-5">
          <h1 style="margin-top: 110px; font-family: MHei PRC; ">NASI GORENG SEDAP MALAM JEMBATAN</h1>
          <h2 class="col-md-6" style="margin-top: 30px; font-family: Uniform; ">RASA TERBAIK</h2>
          <h3 class="col-md-8 fs-6" style="margin-top: 10px; font-family: Kalam; ">Nikmati Nasi Goreng Otentik Cita
            Rasa Kuliner Yang Unggul</h3>
        </div>
        <div class="col-md-7 d-flex justify-content-center">
          <div class="segikuning" style="opacity: 40%; margin-top: 200px; margin-right: 400px;">
            <div class=" d-flex justify-content-center">
              <b>apabeee</b>
            </div>
          </div>
          <div class="segikuning" style="opacity: 40%; margin-top: 400px; margin-left: 400px;">
            <div class=" d-flex justify-content-center">
              <b>teste</b>
            </div>
          </div>
          <div class="persegi" style="margin-top: 110px; background-color: #567C4F; height: 466px; width: 486px;">
            <div class="d-flex justify-content-center">
              <div class="segi" style="margin-top: 70px; height: 326px; width: 366px; background-color: white;">
                <div class="d-flex justify-content-center">
                  <div class="segi" style="margin-top: 6px; height: 316px; width: 356px; background-color: #E53A30;">
                    <div class="d-flex justify-content-center">
                      <img th:src="@{assets/img/NASGOR.png}" class="img-thumbnail bg-transparent no-border" alt="Nasi Goreng">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid text-center" style="margin-bottom: 80px;">
        <div class="row justify-content-center">
          <div class="col-5 align-self-center align-items-center bg-white mt-5 square">
            <div class="d-flex justify-content-center">
              <p class="fs-3" style="font-family: PRIMETIME; color: #567C4F;">RASA, </p>
              <p class="fs-3" style="font-family: PRIMETIME; color: #E53A30">AROMA, </p>
              <p class="fs-3" style="font-family: PRIMETIME; color: #E0B152;">TRADISI</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="menu">
    <div class="container text-center">
      <div class="row">
          <h2 class="col" style="font-family: poppins; margin-top: 108px;">Menu</h2>
      </div>
      <div class="row">
          <div class="d-flex justify-content-center">
            <div class="segi" style="margin-top: 1px; height: 7px; width: 90px; background-color: #E53A30;"></div>
          </div>
      </div>
      <div class="row">
          <div class="d-flex justify-content-center">
          </div>
      </div>
      <div class="row">
          <div class="col">
            <div class="segi" style="margin-top: 70px; height: 400px; width: 274px; background-color: #E53A30;">
              <div class="d-flex justify-content-center">
                  <div class="segi" style="height: 300px; width: 274px; background-color: #E0B152; margin-top: 106px;">
                    <div class="d-flex justify-content-center">
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center">
          <div class="segi" style="margin-top: 32px; height: 198px; width: 341px; background-color: #E0B152;">
            <h3 style="margin-top: 25px;">Menu Tambahan</h3>
              <div class="container" style="margin-top: 25px;">
                <div class="row">
                  <div class="col-7 menu-content">Telur diceplok/didadar</div>
                  <div class="col menu-content-price">+ 1.000</div>
                </div>
                <div class="row">
                  <div class="col-7 menu-content">Tambah telur</div>
                  <div class="col menu-content-price">+ 4.000</div>
                </div>
                <div class="row">
                  <div class="col-7 menu-content">Ati Ampela</div>
                  <div class="col menu-content-price">+ 4.000</div>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
    </div>
  </section>
  <section></section>
  <section></section>
  <section></section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</body>