 <!DOCTYPE html>
 <html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
   xmlns:th="http://www.thymeleaf.org">

 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />

   <!-- swiperjs -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

   <!-- CSS -->
   <link href="assets/css/style.css" rel="stylesheet" />

   <title>
     Nasi Goreng Sedap Malam Jembatan
   </title>
 </head>

 <body id="home" style="background-image: url('assets/img/background.png');">
   <nav class="navbar navbar-expand-lg navbar-dark shadow-sm fixed-top"
     style="background-color: #E53A30; height: 70px;">
     <div class="container">
       <a class="navbar-brand" href="#">
         <img th:src="@{assets/img/SMJ.png}" alt="logo" width="40px" height="24" class="d-inline-block align-text-top">
       </a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
         aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
         <ul class="navbar-nav ms-auto">
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="#home">Home</a>
           </li>
           <li class="nav-item">
             <a class="nav-link " href="#menu">Menu</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#galeri">Galeri</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#tentang">Tentang</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#kontak">Kontak</a>
           </li>
           <li class="nav-item" sec:authorize="isAuthenticated()">
             <a class="nav-link" th:href="@{/logout}">Logout</a>
           </li>
           <form class="container-fluid">
             <button class="btn btn-outline-warning me-2 d-flex align-items-center" type="button">
               <a class="nav-link" th:href="@{/login}">Login</a>
             </button>
           </form>
         </ul>
       </div>
     </div>
   </nav>


   <!-- Home -->
   <section id="home">
     <div class="container">
       <div class="row">
         <div class="col-md-5">
           <h1 style="margin-top: 110px; font-family: MHei PRC; ">NASI GORENG SEDAP MALAM JEMBATAN</h1>
           <h2 class="col-md-6" style="margin-top: 30px; font-family: Uniform; font-size: 50px;">RASA TERBAIK</h2>
           <p class="col-md-8 fs-6" style="margin-top: 10px; font-family: Kalam; ">Nikmati Nasi Goreng Otentik Cita
             Rasa Kuliner Yang Unggul</p>
         </div>
         <div class="col-md-7 d-flex justify-content-center">
           <div class="segikuning"
             style="opacity: 40%; margin-top: 200px; margin-right: 400px; width: 300px; height: 58px;">
             <div class="mb-2 d-flex flex-row">
               <img th:src="@{assets/img/btg.png}" alt="icon"
                 style="height: 50px; width: 50px; margin-top: 3px; margin-left: 10px;"
                 class=" d-flex justify-content-start image1">
               <p1 class="d-flex justify-content-center"
                 style="margin-top: 7px;margin-left: 10px; font-family: Poppins; font-size: 30px;">Serve Our Best</p1>
             </div>
           </div>
           <div class="segikuning" style="margin-top: 400px; margin-left: 400px; width: 235px; height: 58px;">
             <div class="mb-2 d-flex flex-row">
               <img th:src="@{assets/img/nasi.png}" alt="icon"
                 style="height: 50px; width: 50px; margin-top: 3px; margin-left: 10px;"
                 class=" d-flex justify-content-start image1">
               <p1 class="d-flex justify-content-center"
                 style="margin-top: 7px;margin-left: 10px; font-family: Poppins; font-size: 30px;">Since 2013</p1>
             </div>
           </div>
           <div class="persegi" style="margin-top: 110px; background-color: #567C4F; height: 466px; width: 486px;">
             <div class="d-flex justify-content-center">
               <div class="segi" style="margin-top: 70px; height: 326px; width: 366px; background-color: white;">
                 <div class="d-flex justify-content-center">
                   <div class="segi" style="margin-top: 6px; height: 316px; width: 356px; background-color: #E53A30;">
                     <div class="d-flex justify-content-center">
                       <img th:src="@{assets/img/NASGOR.png}" class="img-thumbnail bg-transparent no-border"
                         alt="Nasi Goreng">
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="container-fluid text-center" style="margin-bottom: 80px;">
         <div class="row justify-content-center">
           <div class="col-5 bg-white mt-5 square">
             <div class="d-flex justify-content-center align-items-center">
               <p class="fs-3" style="font-family: PRIMETIME; color: #567C4F; margin-top: 10px;">RASA, </p>
               <p class="fs-3" style="font-family: PRIMETIME; color: #E53A30; margin-top: 10px;">AROMA, </p>
               <p class="fs-3" style="font-family: PRIMETIME; color: #E0B152; margin-top: 10px;">TRADISI</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!-- Home -->

   <!-- Menu -->
   <section id="menu" class="text-center">
     <div class="container">
       <div class="row">
         <div class="col">
           <h2 style="margin-top: 5rem;">Menu</h2>
         </div>
       </div>
       <div class="container-fluid">
         <div class="row">
           <div class="col d-flex justify-content-center">
             <div class="line1">
             </div>
           </div>
         </div>
       </div>
       <div>
         <p class="allmenu">
           <a href="https://youtu.be/dQw4w9WgXcQ?si=_kdNmnd9u4pj1LmM">See all</a>
         </p>
       </div>

       <!-- carousel -->
       <div class="col-12 mt-1">
         <div class="row d-flex kontener-gambar text-nowrap swiper mySwiper" style="flex-wrap: nowrap;">
           <div class="col-lg-3 col-md-6 shadow-l ms-2 " th:each="menu, iterStat : ${menus}">
             <!-- isi card -->
             <a th:href="@{/menu/{menuId}(menuId=${menu.id})}" style="text-decoration: none;"
               class="text-dark">
               <div class="d-flex justify-content-center mb-5">
                 <div class="d-flex justify-content-center">
                   <div th:classappend="${iterStat.index % 2 == 0} ? 'menusq' : 'menusq2'">
                     <img th:src="@{/images/menu/{menuId}/{photoUrl}(menuId=${menu.id}, photoUrl=${menu.photoUrl})}" alt="image" style="width: 210px; height: 210px;">
                     <h2 style="color: #FFF8EF; font-size: 30px;" th:text="${menu.nama}"></h2>
                     <p style="text-align: center; font-size: 13px; color: #FFF8EF; margin-left: 10px; margin-right: 10px;" th:text="${menu.deskripsi}"></p>
                     <div class="d-flex justify-content-center text-center" style="gap: 4px;">
                       <svg xmlns="http://www.w3.org/2000/svg" width="29" height="27" viewBox="0 0 29 27" fill="none">
                         <path
                           d="M27.7942 12.3568L22.166 17.2113L23.8807 24.4713C23.9753 24.8654 23.951 25.2787 23.8107 25.6589C23.6704
                     26.0392 23.4206 26.3694 23.0927 26.6078C22.7648 26.8462 22.3735 26.9821 21.9684 26.9984C21.5633 27.0146 21.1624 26.9105
                     20.8164 26.6991L14.5003 22.8135L8.18033 26.6991C7.83441 26.9093 7.43402 27.0124 7.02958 26.9955C6.62514 26.9787 6.23473 26.8426
                     5.90751 26.6044C5.58029 26.3662 5.33089 26.0366 5.19072 25.657C5.05055 25.2774 5.02587 24.8648 5.1198 24.4713L6.8408 17.2113L1.21252
                     12.3568C0.906468 12.0924 0.685123 11.7437 0.576132 11.3543C0.467141 10.9649 0.475333 10.5521 0.599686 10.1673C0.72404 9.78252 0.959043
                     9.44289 1.27535 9.19083C1.59165 8.93876 1.97524 8.78543 2.3782 8.74998L9.75749 8.15488L12.6041 1.26878C12.7582 0.893491 13.0205 0.572479
                     13.3575 0.346555C13.6946 0.12063 14.0913 0 14.4971 0C14.903 0 15.2996 0.12063 15.6367 0.346555C15.9738 0.572479 16.236 0.893491 16.3901
                     1.26878L19.2355 8.15488L26.6148 8.74998C27.0186 8.78411 27.4033 8.93659 27.7207 9.18831C28.0382 9.44002 28.2743 9.77979 28.3994 10.165C28.5245
                     10.5503 28.5331 10.9638 28.4241 11.354C28.3152 11.7441 28.0934 12.0934 27.7867 12.3581L27.7942 12.3568Z"
                           fill="#F1C644" />
                       </svg>
                       <p style="font-size: 15px; font-weight: 500; margin-top: 3px;" th:text="${menu.ratingValue}  + ' (' + ${menu.ratingCount} + ')'"></p>
                     </div>
                     <p style="font-size: 21px; font-weight: 700;" th:text="'Rp. ' + ${menu.harga}"></p>
                   </div>
                 </div>
               </div>
             </a>
             <!-- isi card -->
           </div>
         </div>
       </div>
       <!-- Carousel -->

       <div class="row d-flex justify-content-center">
         <div class="col-3 segimenu">
           <div>
             <div>
               <p style="font-weight: 500; font-size: 25px; margin-bottom: 5px;">Menu Tambahan</p>
             </div>
             <div class="d-flex justify-content-between" style="margin-bottom: 15px;">
               <div class="text-start" style="color: #FFF8EF; margin-left: 30px;">
                 <p style="font-size: 13px; margin: 0;">Telur diceplok/didadar</p>
                 <p style="font-size: 13px; margin: 0;">Tambah telur</p>
                 <p style="font-size: 13px; margin: 0;">Ati ampela</p>
               </div>
               <div class="text-end" style="color: #FFF8EF; margin-right: 30px;">
                 <p style="font-size: 13px; margin: 0;">+1000</p>
                 <p style="font-size: 13px; margin: 0;">+4000</p>
                 <p style="font-size: 13px; margin: 0;">+4000</p>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!-- Menu -->

   <!-- Galeri -->
   <section id="galeri" class="text-center">
     <div class="container text-center">
       <div class="row">
         <div class="col">
           <h2 style="margin-top: 5rem;">Galeri</h2>
         </div>
       </div>
       <div class="container-fluid">
         <div class="row">
           <div class="col d-flex justify-content-center">
             <div class="line1">
             </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="container grid-container">
           <div class="box box-1">
             <img src="assets/img/ver1.jpg" alt="image" class="box-1">
           </div>
           <div class="box box-2">
             <img src="assets/img/horz2.jpg" alt="image" class="box-2">
           </div>
           <div class="box box-3">
             <img src="assets/img/ver3.jpg" alt="image" class="box-3">
           </div>
           <div class="box box-4">
             <img src="assets/img/horz4.jpg" alt="image" class="box-4">
           </div>
           <div class="box box-5">
             <img src="assets/img/horz5.jpg" alt="image" class="box-5">
           </div>
           <div class="box box-6">
             <img src="assets/img/horz6.jpg" alt="image" class="box-6">
           </div>
         </div>
       </div>
   </section>
   <!-- Galeri -->

   <!-- Tentang -->
   <section id="tentang" class="text-center">
     <div class="container">
       <div class="row">
         <div class="col">
           <h2 style="margin-top: 6rem;">Tentang</h2>
         </div>
       </div>
       <div class="container-fluid">
         <div class="row">
           <div class="col d-flex justify-content-center">
             <div class="line1">
             </div>
           </div>
         </div>
       </div>
       <div class="row mt-5">
         <div class="col-6 d-flex justify-content-center segitentang">
           <div class="ms-4 me-4">
             <p class="lh-sm" style="text-align: justify; font-size: 20px; margin-top: 10px;"> Selama lebih dari satu
               dekade, Warung Nasi
               Goreng Sedap Malam telah berkomitmen untuk menyajikan cita rasa
               autentik dengan menggunakan bahan-bahan pangan berkualitas.

               <p class="lh-sm" style="text-align: justify; font-size: 20px;">Sebagai sebuah UMKM, Nasi Goreng Sedap
                 Malam Jembatan selalu berupaya untuk memberikan yang terbaik agar
                 memberikan pengalaman makan yang berkesan kepada para pelanggan. Nasi Goreng Sedap Malam Jembatan juga
                 merupakan UMKM yang tidak mau tertinggal oleh teknologi, sehingga melakuakn inovasi berkelanjutan baik
                 dari
                 segi pengolahan bahan pangan maupun pemasarannya.</p>
             </p>
           </div>
         </div>
         <div class="col-6 d-flex justify-content-center align-items-center">
           <div class="segitentang2">
             <div class="mt-2 mb-1">
               <div>
                 <div class="d-flex justify-content-center">
                   <div class="row">
                     <div class="">
                       <svg xmlns="http://www.w3.org/2000/svg" width="42" height="41" viewBox="0 0 42 41" fill="none">
                         <g clip-path="url(#clip0_27_4295)">
                           <path
                             d="M21.3872 40.7701C21.3872 40.7701 36.8007 26.5014 36.8007 15.6756C36.8007 11.6823 35.1768 7.85259 32.2862 5.0289C29.3956 2.20522 25.4751 0.618896 21.3872 0.618896C17.2993 0.618896 13.3788 2.20522 10.4883 5.0289C7.59767 7.85259 5.97375 11.6823 5.97375 15.6756C5.97375 26.5014 21.3872 40.7701 21.3872 40.7701ZM21.3872 23.204C19.3433 23.204 17.383 22.4108 15.9377 20.999C14.4924 19.5871 13.6805 17.6723 13.6805 15.6756C13.6805 13.679 14.4924 11.7641 15.9377 10.3523C17.383 8.94042 19.3433 8.14725 21.3872 8.14725C23.4312 8.14725 25.3914 8.94042 26.8367 10.3523C28.282 11.7641 29.0939 13.679 29.0939 15.6756C29.0939 17.6723 28.282 19.5871 26.8367 20.999C25.3914 22.4108 23.4312 23.204 21.3872 23.204Z"
                             fill="#E53A30" />
                         </g>
                         <defs>
                           <clipPath id="clip0_27_4295">
                             <rect width="41.1026" height="40.1512" fill="white"
                               transform="translate(0.835938 0.618896)" />
                           </clipPath>
                         </defs>
                       </svg>
                     </div>
                   </div>
                   <div>
                     <p style="font-size: 23px; color: #FFF8EF;">Lokasi</p>
                   </div>
                 </div>
               </div>
               <div>
                 <a href="https://maps.app.goo.gl/xzXqEADGevLdoXVk6">
                   <img src="assets/img/maps.png" alt="maps" class="imagemaps">
                 </a>
               </div>
             </div>
           </div>
         </div>
       </div>
   </section>
   <!-- Tentang -->

   <!-- Kontak -->
   <section id="kontak" class="text-center">
     <div class="container">
       <div class="row">
         <div class="col">
           <h2 style="margin-top: 6rem;">Kontak</h2>
         </div>
       </div>
       <div class="container-fluid">
         <div class="row">
           <div class="col d-flex justify-content-center">
             <div class="line1">
             </div>
           </div>
         </div>
       </div>
       <div class="row d-flex justify-content-center" style="gap: 44px; margin-top: 74px; margin-bottom: 74px;">
         <div class="segikontak">
         </div>
         <div class="segikontak2">
         </div>
         <div class="segikontak">
         </div>
       </div>
     </div>
     <div class="footers">

     </div>
   </section>
   <!-- Kontak -->


   <!-- Bootstrap  -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
   </script>
   <!-- Boostrap -->

   <!-- Jquery -->
   <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
     crossorigin="anonymous">
   </script>
   <!-- Jquery -->

   <!-- Script -->
   <script>
     const container = document.querySelector('.kontener-gambar');
     let isDragging = false;
     let startPosition = 0;
     let deltaX = 0;

     container.addEventListener('wheel', (event) => {

       container.scrollLeft += event.deltaY;
       event.preventDefault();
     });
     // Add event listeners for mouse down, move, and up
     container.addEventListener('mousedown', startDrag);
     container.addEventListener('mousemove', drag);
     container.addEventListener('mouseup', endDrag);

     // Function to start dragging
     function startDrag(event) {
       isDragging = true;
       startPosition = event.clientX - container.offsetLeft;
       container.classList.add('dragging');
     }

     // Function to handle dragging
     function drag(event) {
       if (!isDragging) return;
       event.preventDefault();
       const currentPosition = event.clientX - container.offsetLeft;
       deltaX = startPosition - currentPosition;
       container.scrollLeft += deltaX;
       startPosition = currentPosition;
     }

     // Function to end dragging
     function endDrag(event) {
       isDragging = false;
       container.classList.remove('dragging');
     }

     // Prevent text selection while dragging
     container.addEventListener('selectstart', function (e) {
       e.preventDefault();
     });
   </script>
   <!-- Script -->
 </body>

 </html>