<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmyelead.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah Menu</title>
</head>
<body>
    <form role="form" method="post" th:action="@{/tambah-menu}" th:object="${menu}">
        <label for="namaMenu">Nama Menu</label>
        <input type="text" th:field="*{nama}" id="namaMenu" name="namaMenu">
        <label for="gambarMenu">Gambar</label>
        <input type="file" th:field="*{photoUrl}" id="gambarMenu" name="gambarMenu" accept="image/png, image/jpeg">
        <label for="hargaMenu">Harga</label>
        <input type="number" th:field="*{harga}" id="hargaMenu" name="hargaMenu">
        <label for="deskripsiMenu">Deskripsi</label>
        <input type="text" th:field="*{deskripsi}" id="deskripsiMenu" name="deskripsiMenu">
        <button type="submit">Simpan</button>
    </form>
</body>
</html>