<!DOCTYPE html>
<html lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Menu</title>
</head>
<body>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/tambah-menu}">Tambah menu</a>
    </div>
    <div th:each="menu : ${menus}">
        <p th:text="${menu.nama}"></p>
        <p th:text="${menu.deskripsi}"></p>
        <p th:text="${menu.harga}"></p>
        <a th:href="@{/menu/{menuId}(menuId=${menu.id})}"><img th:src="@{/images/menu/{menuId}/{photoUrl}(menuId=${menu.id}, photoUrl=${menu.photoUrl})}" alt="no-pict"></a>
    </div>
</body>
</html>